#header {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 100%;
	text-align: right;
        color:#696969;
}
.main
{
	position:absolute;
	 left:100px;
	 top:40px;
}

ima
{
	 
    border-radius: 50%;
}

#home{
	margin-right: 10px;
}h1
{ 
  text-align:center;
  font-family:georgia,sans-serif;
  color:#DC143C;
  margin-left:px; 
  margin-top:50px;
}
h2
{
 
  text-align:center;
  font-family:verdana;
  color:#9932CC;
  margin-left:px; 
  margin-top: 10px;
}


#i1:hover{
  
  width:400;
  height:350;
    
 
}

#i10:hover{
   width:250px;
   height:250px;
-webkit-transform: rotate(15deg); /* Safari */
    transform: rotate(15deg);
}

#i11:hover{
   width:250px;
   height:250px;
-webkit-transform: rotate(10deg); /* Safari */
   transform: rotate(10deg);
}
.alignment1
{
  position:absolute; 
  left:400px;
   top:200px;
 
}
 
 .i3
  {
   position:absolute; 
  left:600px;
   top:200px; 
} 
 .i4{
   position:absolute; 
  left:900px;
   top:200px;
}
 
 .i5
  {
   position:absolute; 
  left:400px;
   top:400px;
} 

 .i6
  {
  position:absolute; 
  left:600px;
   top:400px;
} 

 .i7{
   position:absolute; 
  left:900px;
   top:400px;
}
#i10:hover{
   width:250px;
   height:250px;
-webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg);
}
  .alignment
 {
   margin-top:60px;
   margin-left:150px;
   margin-right:170px;
   margin-bottom:170px;
   background-color:#E9967A;
}

 a {
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	color: 	#2F4F4F;
}

a:hover {
	color:black;
         text-decoration:overline;
         cursor:point;
}
#i15:hover{
   width:350px;
   height:350px;
 
}


